@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 75, 0, 0;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 2, 6, 23;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(75 85 99 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(75 85 99);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(55 65 81);
}
